.card-style{
    background-color: white;
    border-radius: 10px;
    width: 80%;
    margin: 10%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding: 2%;
    box-shadow: 0 0 5px #fff, 0 0 10px #5474E1, 0 0 20px #5474E1, 0 0 30px #5474E1;
}

.card:hover{
    box-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #5474E1, 0 0 40px #5474E1, 0 0 50px #5474E1 im !important;
}

.card-body{
    padding: 3rem 0 !important;
}

.img-format{
    object-fit: cover;
    width:150px;
    height:150px;
}