.navbar-style {
    position: sticky;
    padding: 2%;
    background-color: #1D2442;
    color: white;
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #5474E1, 0 0 40px #5474E1, 0 0 50px #5474E1;
    box-shadow: 0 0 10px #fff, 0 0 20px #D83B95, 0 0 30px #D83B95;
    box-shadow:inset 0 0 5px #D83B95,
    3px 3px 5px 5 #D83B95;
}
